.app {
  margin-bottom: 120px;
  &-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-image {
    margin-right: 179px;
  }
  &-social {
    max-width: 380px;
  }
  &-heading {
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    color: $black-color;
    margin-bottom: 22px;
  }
  &-desc {
    line-height: 28px;
    color: $text-dark-color;
    margin-bottom: 40px;
  }
  &-store {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-play {
    padding: 16px 23px;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 0 20px;
    cursor: pointer;
  }
  &-icon {
    color: $black-color;
    font-size: 30px;
  }
  &-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: $black-color;
  }
  @media screen and (max-width: 1023.98px) {
    &-image {
      margin-right: 30px;
    }
  }
  @media screen and (max-width: 767.98px) {
    margin-bottom: 60px;
    &-content {
      flex-direction: column;
    }
    &-image {
      margin: 0 0 50px;
    }
  }
}
