.header {
  margin-top: 40px;
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-signup {
    display: flex;
    align-items: center;
    gap: 0 12px;
  }
  &-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    background-color: $black-color;
    padding: 13px 16px;
    border-radius: 15px;
    color: white;
  }
  &-toggle {
    display: none;
  }
  @media screen and (max-width: 767.98px) {
    .is-expand {
      transform: translateX(0);
    }
    &-toggle {
      margin-left: auto;
      display: inline-block;
      align-self: center;
      font-size: 40px;
      margin-left: 20px;
    }
  }
  @media screen and (max-width: 413px) {
    &-toggle {
      margin-left: 10px;
    }
  }
}
.menu {
  display: flex;
  align-items: center;
  gap: 0 40px;
  &-link {
    color: $black-color;
    transition: all 0.2s linear;
    font-weight: 500;
    &:hover {
      color: $primary-color;
    }
  }
  @media screen and (max-width: 767.98px) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #f9f9f9;
    display: block;
    width: 300px;
    padding: 20px 25px;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 0.25s linear;
    &-link {
      display: inline-block;
      width: 100%;
      padding: 15px;
      border-radius: 4px;
      margin-bottom: 10px;
      font-size: 20px;
      &:hover {
        color: white;
        background-color: $primary-color;
      }
    }
  }
}
