$font-primary: "Inter", sans-serif;
$font-secondary: "Seaweed Script", cursive;
$primary-color: #ff4415;
$secondary-color: #ffbb27;
$third-color: #36ba58;
$text-light-color: #787878;
$text-dark-color: #646464;
$gray-light: #c7c7c7;
$black-color: #101010;
